.Container{
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.Column{
    width: 33.33%;
    padding: 25px;
    margin: 10px;
    font-weight: bolder;
    border: 5px dashed white;
}

:root{
    background-color: darkcyan;
}

p{
    font-size: 22px;
    font-weight: lighter;
}

header{
    text-align: center;
    font-size: 38px;
    font-weight: bolder;
}
h1{
    font-size: 28px;
    text-align: center;
}
a{
    text-align: center;
    font-size: 18px
}
