html{
    background: linear-gradient(to bottom, #1e3c72, #a9d6e5, #2a5298);
    background-color: #1e3c72;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.title{
    text-align: center;
    font-size: 38px;
    font-weight: bolder;
    margin-top: 20px;
}

.Container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 90%;
    margin: 20px 0 auto;

}

.Column{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 25px;
    margin: 10px;
}

.Column p {
    font-size: 1.1em;
    font-weight: 300;
    color: #f0f0f0;
    line-height: 1.6;
}

.Column h2 {
    font-size: 28px;
    text-align: center;
    color: white;
}

h1{
    font-size: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-align: center;
    font-size: 26px
}

.navbar{
    background-color: #333;
    display: flex;
    gap: 5px;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: sticky;
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1000;
}

.navbar a {
    text-align: center;
    padding: 10px 12px;
    font-size: 16px;
    background-color: white;
    color: #333;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #969696;
    color: black;
}

.navbar a.active{
    background-color: #04AA6d;
    color: white;
}

/* Media Queries */

/* Stacks the three columns when viewed on a tablet */
@media only screen and (max-width: 932px){
    .Container{
    flex-direction: column;
}
}

/* Adjusts font size on small mobile devices */
@media screen and (max-width: 480px){
    .Column h2{
        font-size: 22px;
    }

    .Column p{
        font-size: 1.0em;
    }
}

@media screen and (max-width: 600px){
    .navbar{
        flex-direction: column;
        width: 100%;
    }

    .navbar a{
        text-align: center;
        width: 100%;
    }
}