.project-img-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    justify-content: center;
}

.sample-img {
    flex: 1 1 48%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.centered-drawing {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}


.navbar {
    background-color: #333;
    display: flex;
    gap: 5px;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar a {
    text-align: center;
    padding: 10px 12px;
    font-size: 16px;
    background-color: white;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #969696;
    color: black;
}

.navbar a.active {
    background-color: #04AA6d;
    color: white;
    font-weight: bold;
}

p {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1em;
}

.screenshot-gallery {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.responsive_img {
    flex: 1 1 50%;
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

h1 {
    float: bottom;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Container {
    display: flex;
    flex-direction: column;
    /* Stacks my different projects vertically */
    gap: 10px;
    width: 90%;
    margin: 20px auto;

}

.Column {
    background-color: darkgrey;
    border: 10px solid rgb(63, 77, 136);
    width: 65%;
    padding: 25px;
    margin: 10px auto;
    border-radius: 8px;
}

html {
    background: linear-gradient(120deg, #1e3c72 33.33%, #ffffff 66.67%, #2a5298 100%);
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Top {
    color: white;
}

.tech-list-stacked {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-list-stacked li {
    background-color: #555;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 500;
}

footer {
    color: black;
    font-size: 26px;
    font-weight: bolder;
    text-align: center;
}

/*. Media Queries .*/

@media screen and (max-width: 600px) {
    .project-img-gallery {
        flex-direction: column;
        align-items: center;
    }

    .sample-img {
        flex: 1 1 100%;
        max-width: 90%;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
    }

    .navbar a {
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    /* Makes the container full width on mobile devices */
    .Container {
        width: 100%;
        gap: 0;
    }

    /* Makes the column for projects wide on mobile devices */
    .Column {
        width: 100%;
        padding: 15px 10px;
        margin: 10px 0;
        box-sizing: border-box;
        max-width: 100%;
    }

    .responsive_img,
    .project-img-gallery img {
        max-width: 100%;
        box-sizing: border-box;
    }

    p {
        font-size: 18px;
        line-height: 1.6em;
    }

    h1,
    h2 {
        font-size: 1.8em;
    }

    h1.Top,
    h2.Top {
        position: static;
        padding-top: 55px;
    }
}