.navbar{
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.navbar a{
    float: left;
    text-align: center;
    padding: 10px 12px;
    font-size: 16px;
    background-color: white;
}

.navbar a:hover{
    background-color: red;
    color: black;
}

.navbar a.active{
    background-color: #04AA6d;
    color: white;
}
.p{
    font-size: 22px;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.responsive_img{
    float: left;
    max-width: 50%;
    height: auto;
}

.h1{
    float: bottom;
    text-align: center;
}
