.project-img-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
    justify-content: center;
}

.sample-img{
    flex: 1 1 48%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}


.navbar{
    background-color: #333;
    display: flex;
    gap: 5px;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: sticky;
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1000;
}

.navbar a {
    text-align: center;
    padding: 10px 12px;
    font-size: 16px;
    background-color: white;
    color: #333;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #969696;
    color: black;
}

.navbar a.active{
    background-color: #04AA6d;
    color: white;
}

p{
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1em;
}

.responsive_img{
    float: left;
    max-width: 50%;
    height: auto;
}

h1{
    float: bottom;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Container{
    display: flex;
    flex-direction: column; /* Stacks my different projects vertically */
    gap: 10px;
    width: 90%;
    margin: 0 auto;

}

.Column{
    background-color: darkgrey;
    border: 10px solid rgb(63, 77, 136);
    width: 65%;
    padding: 25px;
    margin: 10px;
}
html{
    background: linear-gradient(120deg, #1e3c72 33.33%, #ffffff 66.67%, #2a5298 100%);
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Top{
    color: white;
}

/*. Media Queries .*/

@media screen and (max-width: 600px){
    .project-img-gallery{
        flex-direction: column;
        align-items: center;
    }

    .sample-img{
        flex: 1 1 100%;
        max-width: 90%;
    }

    .navbar{
        flex-direction: column;
        width: 100%;
    }

    .navbar a{
        text-align: center;
        width: 100%;
    }

    /* Makes the container full width on mobile devices */
    .Container{
        width: 100%;
    }

    /* Makes the column for projects wide on mobile devices */
    .Column{
        width: 95%;
        margin: 10px auto;
        float: none;
        margin-right: auto;
    }

    .responsive_img{
        max-width: 100%;
        float: none;
    }

    p{
        font-size: 18px;
        line-height: 1.6em;
    }

    h1{
        font-size: 1.8em;
    }
}