html{
    background-color: #bcbcbc;
}

p{
    color: #333;
    font-size: 1.1em;
    font-weight: normal;
    text-align: left;
    line-height: 1.6;
}

footer{
    color:black;
    font-size: 26px;
    font-weight: bolder;
}

h1{
    color:navy;
    text-align: left;
    font-size: 36px;
}

main{
    width: 90%;
    margin: 20px;
    max-width: 1200px;
    clear: left;
}

.hobby-list{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px;
    margin-top: 20px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
}

h2{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    font-size: 1.1em;
    text-align: center;
    color: #04aa6d;
    text-decoration: none;
    font-weight: bold;
    
}
a:hover{
    text-decoration: underline;
}

.responsive_img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* This section adjusts the navbar css code */
.navbar{
    background-color: #333;
    display: flex;
    gap: 5px;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: sticky;
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1000;
}

.navbar a {
    text-align: center;
    padding: 10px 12px;
    font-size: 16px;
    background-color: white;
    color: #333;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #969696;
    color: black;
}

.navbar a.active{
    background-color: #04AA6d;
    color: white;
}

.home{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.home-txt{
    flex: 2;
}
.home-img{
    flex: 1;
    text-align: center;
}

footer{
    text-align: center;
}

/*. Media Queries .*/

@media screen and (max-width: 768px){
    .home{
        flex-direction: column;
    }

    h1{
        font-size: 2.0em;
    }
}

@media screen and (max-width: 600px){
    .navbar{
        flex-direction: column;
        width: 100%;
    }

    .navbar a{
        text-align: center;
        width: 100%;
    }
}