html{
    background-image:linear-gradient(Grey, red);
}

p{
    color:maroon;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;

}

footer{
    color:black;
    font-size: 26px;
    font-weight: bolder;
}

h1{
    color:navy;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 250px;
}

.hobby-list{
    color:red;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 120px;
    padding-right: 120px;
    border: 10px dashed red;
}

h2{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    font-size: 20px;
}

img{
    float: left;
}

main{
    clear: left;
}
