html{
    background-color: darkgrey;
}

p{
    color:black;
    font-size: 20px;
    font-weight: bolder;
}

footer{
    color:black;
    font-size: 26px;
    font-weight: bolder;
}

h1{
    color:navy;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
}

.hobby-list{
    color:black;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 120px;
    padding-right: 120px;
    border: 10px dashed red;
}

h2{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    font-size: 28px;
    
}

.responsive_img{
    float: left;
    max-width: 100%;
    height: auto;
}

main{
    clear: left;
}

/* This section adjusts the navbar css code */
.navbar{
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.navbar a{
    float: left;
    text-align: center;
    padding: 10px 12px;
    font-size: 16px;
    background-color: white;
}

.navbar a:hover{
    background-color: red;
    color: black;
}

.navbar a.active{
    background-color: #04AA6d;
    color: white;
}


